<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrega un producto nuevo</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
</head>
<body>
    
    <form class="p-4">
        <div class="form-group">
            <input type="text" name="" id="name" class="form-control" placeholder="Nombre del producto" autofocus>
        </div>
        <div class="form-group">
            <input type="number" name="" id="price" class="form-control" placeholder="Precio">
        </div>
        <div class="form-group">
            <input type="text" id="description" class="form-control" placeholder="Descripcion">
        </div>
        <button class="btn btn-primary btn-block">
            Guardar producto
        </button>
    </form>


    <script src="../newProduct.js"></script>
</body>
</html>